@media (max-width: 1000px) {
    .home-content > div:first-child{
        width: 90%;
    }
    .home-content > div:nth-child(2) {
      display: none;
    }
    .my-img > .img {
        width: 100%;
    } 
    
    .head-nav {
        height: 80px;
    }

    .head-nav > div:nth-child(2){
        display: none;
    }

    .head-nav > div:first-child{

        height: 90%;
        margin-left: 5px;
    }

    .home-content{
        display: block;
        padding-top: 80px;
        margin-left: 5px;
    }
    /*====================================*/
    .about-me{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }

    .my-img ,.about-me-text{
        width: 90%;
        margin: 10px auto;
    }
    /*==========================================*/

    .mobile-nav{
        display: flex;
    }
  }