html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FEFAF6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.head-nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #FEFAF6;
    border-bottom: #e0c9b1 double 1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.head-nav > a{
    margin: auto;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: ease 0.5s;
    

}

.head-nav > a:hover{
    font-size: 25px;
}

.home-content{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.home-content > div > p{
    margin-left: 20px;
}

.home-content > div > p > span{
    color: #75aeb9;
}

.home-content > div > h1 > span{
    
    color: #75aeb9;

}

.home-content > *{
    margin: auto;
}

.logo{
    width: 110px;
    margin-left: 1%;
}

.logo > img{
    width: 100%;
}
#home-img{
    width: 80%;    
    border-radius: 15px;
    margin-left: 10%;
}
.img{
    width: 500px;
}

.square{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: ease 0.5s;
}

.square:hover{
    transform: rotate(90deg);
}

.left-buttom{
    margin-top: auto;
    margin-left: auto;
    background: rgb(255,238,196);
    background: linear-gradient(130deg, rgba(255,238,196,1) 0%, rgba(0,128,129,1) 100%);
}
.right-top{
    
    background: rgb(218,205,255);
    background: linear-gradient(149deg, rgba(218,205,255,1) 0%, rgba(137,204,214,1) 100%);
    margin-top: -80px;
    margin-left: auto;
    margin-bottom: auto;
}
.right-buttom{
    background: rgb(255,238,196);
    background: linear-gradient(130deg, rgba(255,238,196,1) 0%, rgba(251,214,231,1) 100%);
    margin-top: -80px;
}

.left-top{
    background: rgb(255,234,238);
    background: linear-gradient(189deg, rgba(255,234,238,1) 0%, rgba(237,220,246,1) 100%);
}


.icons > a >*{
    width: 70px;
    margin-top: 40px;
    margin-left: 20px;
    transition: ease 0.5s;
}

.icons > a >*:hover{
    transform: rotate(35deg);
}

/*=======================================================================================================================*/

.about-me{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.about-me-text {
    margin: auto;
}
